{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">

<html>
    <body>
        <title>{{pageTitle}}</title>
        <div style="display: flex;">
            {% for connectedPage in connectedPagesList %}
                <a href="{{connectedPage.url}}" class="box">{{connectedPage.name}}</a>
            {% endfor%}
        </div>
        <h1>{{pageTitle}}</h1>
        {% autoescape off %}
            {% for paragraph in paragraphs%}
                <p>{{paragraph}}</p>
            {% endfor %}
        {% endautoescape %}
    </body>
</html>